.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container{
    margin-top: 20px;
    width: 40%;
    background-color: azure;
    padding: 50px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
         column-count: 3;
}

@media screen and (max-width: 500px) {
    ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
             column-count: 1;
        list-style-type: none;
    }
    .card-container-blog{
        width: 100%;
        height: 100px;
        background-color: #d3d6db;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        margin:5px;
        break-inside: avoid-column;
        break-after: avoid-column;
        break-before: avoid-column;
        margin-top: 10px;
    }
}

.card-container-blog{
    width: 300px;
    height: 200px;
    background-color: #d3d6db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    break-inside: avoid-column;
    break-after: avoid-column;
    break-before: avoid-column;
    margin-top: 10px;
}