.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container{
    margin-top: 20px;
    width: 40%;
    background-color: azure;
    padding: 50px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}