.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container{
    margin-top: 20px;
    width: 40%;
    background-color: azure;
    padding: 50px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
}

@media screen and (max-width: 500px) {
    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
    }
    .card-container{
        width: 100%;
        height: 100px;
        background-color: #d3d6db;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        margin:5px;
        break-inside: avoid-column;
    }
}

.card-container{
    width: 200px;
    height: 100px;
    background-color: #d3d6db;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin:5px;
    break-inside: avoid-column;
}